<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>CV</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>CV</li>
    </ul>
    </div>
    </div>
    </div>
<pdf-viewer
           [src]="pdfSrc"
           [render-text]="true"
           [original-size]="false"
           style="width: 1200px; height: 900px"
          >
</pdf-viewer>

