<div class="navbar-area">
    <div class="mobile-responsive-nav">
    <div class="container-fluid">
    <div class="mobile-responsive-menu">
    <div class="logo">

    </div>
    </div>
    </div>
    </div>
    
    <div class="desktop-nav desktop-nav-one nav-area">
    <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light ">
    <a class="navbar-brand" href="index.html">


    </a>
    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
    <ul class="navbar-nav">
    <li class="nav-item">
    <a href="#" class="nav-link ">
   Offre d'emploi
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/offre" class="nav-link active">
    Liste Offres
     </a>
    </li>
    <li class="nav-item" *ngIf="isentreprise()">
        <a href="/home/espaceentreprise" class="nav-link active">
       Gérer mes Offres
         </a>
        </li>
    <li class="nav-item" *ngIf="isentreprise()">
        <a href="/home/addoffre" class="nav-link active">
        Ajouter offre
         </a>
        </li>
           
    </ul>
    </li>
    <li class="nav-item">
    <a href="" class="nav-link">
    Entreprises
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/entreprise" class="nav-link">
    Liste entreprises
    </a>
    </li>
    <li class="nav-item" *ngIf="isentreprise()">
        <a [routerLink]="['/home/listmsg',userconnect._id]" class="nav-link">
            <span class="icon"><i class="ri-chat-1-line"></i></span>
        Messages
        </a>
        </li>

     
    </ul>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link">
    Candidats
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
    <li class="nav-item">
    <a href="/home/candidat" class="nav-link">
   Liste candidats
    </a>
    </li>

    </ul>
    </li>

    <li class="nav-item">
    <a href="#" class="nav-link">
    Pages
    <i class="ri-arrow-down-s-line"></i>
    </a>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a href="/home" class="nav-link">
            Home
            </a>
            </li>
    <li class="nav-item">
    <a href="/home/contact" class="nav-link">
    Nous contacter
    </a>
    </li>
 
    <li class="nav-item">
    <a href="" class="nav-link">
    Login
    </a>
    </li>

     <li class="nav-item">
    <a href="/home/changepwd" class="nav-link">
   Change password
    </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" (click)="logout()" routerLink="/home"><i class="ri-logout-box-r-line" ></i>
        Logout
        </a>
        </li>
    </ul>
    </li>
    </ul>
    <div class="others-options d-flex align-items-center">
    <div class="optional-item">
    <a href="" class="default-btn -radius-5" *ngIf="!Isconnect()">Se connecter <i class="ri-user-3-line"></i></a>
    </div>
    <div class="optional-item">
    <a href="/registre" class="default-btn border-radius-5" *ngIf="!Isconnect()">S'inscrire <i class="ri-briefcase-2-line"></i></a>
    </div>
    </div>
    </div>
    </nav>
    </div>
    </div>
    <div class="side-nav-responsive">
    <div class="container-max">
    <div class="dot-menu">
    <div class="circle-inner">
    <div class="circle circle-one"></div>
    <div class="circle circle-two"></div>
    <div class="circle circle-three"></div>
    </div>
    </div>
    <div class="container">
    <div class="side-nav-inner">
    <div class="side-nav justify-content-center align-items-center">
    <div class="side-nav-item" >
    <a href="" class="default-btn two" *ngIf="!Isconnect()">
    Se connecter <i class="ri-user-3-line"></i>
    </a>
    </div>
    <div class="side-nav-item" >
    <a href="/registre" class="default-btn" *ngIf="!Isconnect()">
    S'inscrire<i class="ri-briefcase-2-line"></i>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
