<footer class="footer-area">
    <div class="container">
    <div class="footer-top pt-100 pb-70">
    <div class="row">
    <div class="col-lg-3 col-sm-6 col-md-6">
    <div class="footer-widget">
    <div class="footer-logo">
   
    </div>
    <div class="col-lg-2 col-sm-6 col-md-6">
        <div class="footer-widget">
            <h3>Adressse</h3>
    <ul class="footer-contact-list">
    <li>
    <i class="ri-map-pin-line"></i>
    <div class="content">
    <a href="https://www.google.com/maps/place/ITGate+Training/@35.8527101,10.5978137,17z/data=!3m1!4b1!4m5!3m4!1s0x12fd8bc01b9c915f:0xf1e242ab47145bc0!8m2!3d35.8527058!4d10.6000024" target="_blank">
        12 شارع شارل دوكول،, Hammam Sousse
    </a>
    </div>
    </li>
    
    <li>
    <i class="ri-phone-line"></i>
    <div class="content">
    <a href="tel:73362100">
        73362100
    </a>
    </div>
    </li>
    </ul>
    </div>
    </div>
</div>
</div>
    <div class="col-lg-2 col-sm-6 col-md-6">
    <div class="footer-widget">
    <h3>Entreprises</h3>
    <ul class="footer-list">
    <li>
    <a href="/home/candidat" target="_blank">
    Chercher candidats
    </a>
    </li>
    <li>
    <a href="/home/entreprise" target="_blank">
    Dashboard Entreprise
    </a>
    </li>
    <li>
    <a href="/home/offre" target="_blank">
    Offres Emplois
    </a>
    </li>
    <li>
    <a href="/home/addoffre" target="_blank">
    Ajouter offre Emploi
    </a>
    </li>
    </ul>
    </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-4">
    <div class="footer-widget ps-5">
    <h3>Pour Candidats</h3>
    <ul class="footer-list">
    <li>
    <a href="/home/offre" target="_blank">
    Chercher emploi
    </a>
    </li>
    <li>
    <a href="/home/candidat" target="_blank">
    Liste Candidats
    </a>
    </li>
    <li>
        <a href="/home/entreprise" target="_blank">
        Liste Entreprises
        </a>
        </li>
    </ul>
    </div>
    </div>
  

     </div>
    </div>
    </div>
    <div class="copyright-area">
    <div class="container">
    <div class="row align-items-center">
    <div class="col-lg-6 col-md-7">

    </div>
    <div class="col-lg-6 col-md-5">
    <div class="copy-right-social-link">
    <ul class="social-link">
    <li>
    <a href="https://www.facebook.com/" target="_blank">
    <i class="ri-facebook-fill"></i>
    </a>
    </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank">
    <i class="ri-instagram-fill"></i>
    </a>
    </li>
    <li>
    <a href="https://twitter.com/" target="_blank">
    <i class="ri-twitter-fill"></i>
    </a>
    </li>
    <li>
    <a href="https://www.linkedin.com/" target="_blank">
    <i class="ri-linkedin-fill"></i>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>
