<div class="inner-banner">
    <div class="container">
    <div class="inner-title text-center">
    <h3>Details Candidat</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Details Candidat</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="candidates-details-area pt-100 pb-70">
        <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <div class="candidates-details-right">
        <div class="content-profile">
        <div class="content-profile-img">
        <img src="http://localhost:3000/getfile/{{listcandidat.image}}" alt="Images">
        </div>
        <div class="title">
        <h3>
      {{listcandidat.nom}}
        </h3>
        </div>
        <p>Web Developer</p>
 
       
        </div>
        <div class="content-info">
        <h3>Contact Info</h3>
        <ul>
        <li>
        <span>Adresse: </span>
{{listcandidat.adresse}}
    </li>
        <li>
        <span>Email: </span>
         {{listcandidat.email}}
        </li>
        <li>
        <span>Telephone: </span>
        {{listcandidat.telephone}}
        </li>
        </ul>
        <div class="col-lg-12 col-md-12 text-center" *ngIf="iscandidat()">
            <button type="submit" class="default-btn" (click)="deleteuser(listcandidat._id)">
            Supprimer
            </button>&nbsp;&nbsp;
            
              
            </div>
        </div>
        </div>
      
        </div>
        </div>
        
        </div>
    
        </div>
