<div class="inner-banner">
    <div class="container">
    <div class="inner-title text-center">
    <h3>Details Offre</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Details Offre</li>
    </ul>
    </div>
    </div>
    </div>

   




    <div class="employers-details-area pt-100 pb-70">
        <div class="container">
        <div class="row">
        <div class="col-lg-12">


        <div class="find-jobs-card d-flex align-items-center box-shadow">
            <div class="find-jobs-img">
            <a href="company-details.html">
                <img src="http://localhost:3000/getfile/{{listoffre?.entreprise?.image }}"alt="" />
            </a>
            </div>
            <div class="content">
            <ul class="content-list">
            <li class="time">Temps plein </li>
            <li class="freelance">Freelance</li>
            <li class="internship">temps partiel</li>
            </ul>
            <h3>{{listoffre.titre}}</h3>
            <ul class="content-list2">
            <li class="list-one"> {{listoffre.entreprise.nom}}</li>
            <li class="list-two"><i class="ri-time-line"></i> {{listoffre.date}}</li>
            </ul>
            <ul class="content-list3">
            <li><i class="ri-briefcase-line"></i> Domaine : <b>{{listoffre?.specialite?.nom}}</b></li>
            <li><i class="ri-map-pin-line"></i> Lieux : <b>{{listoffre?.place?.adresse}}</b></li>
          
            </ul>
            </div>
            <div class="find-jobs-btn" *ngIf="iscandidat()">
            <a  [routerLink]="['/home/candidature',listoffre._id]" class="default-btn border-radius-5">Postuler<i class="ri-send-plane-2-line"></i></a>
            </div>
            <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
            </div>
        </div>
        <div class="col-lg-4">
        <div class="job-details-widget-side pr-20">
        <div class="job-details-widget">
        <h3 class="title">À propos de l'offre</h3>
        <div class="bar"></div>
        <ul class="job-details-category">
        <li>Date: <span>{{listoffre.date}}</span></li>
        <li>Type: <span>{{listoffre.type}}</span></li>
        <li>Email: <span>{{listoffre.entreprise.email}}</span></li>
        </ul>

        </div>

        </div>
        </div>
        <div class="col-lg-8">
        <div class="employers-details-content">
        <div class="content mb-30">
        <h3> Description de l'offre</h3>
        <div class="bar"></div>
        {{listoffre.description}}
       </div>

        </div>
        </div>
        </div>
        </div>
