<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Liste Candidat</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Liste Candidat</li>
    </ul>
    </div>
    </div>
    </div>


<div class="candidates-area pt-100 pb-70">
    <div class="container">
    <div class="row">

        <div class="col-lg-8">
            <div class="candidates-topper">
            <div class="row align-items-center">
    <div class="col-lg-6">
    <div class="candidates-title">
    <h3>Showing 1 – 6 of 145 results</h3>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="candidates-category-form">
    <div class="row">
    <div class="col-lg-6 col-6">
    <div class="form-group select-group">
    <select class="form-select form-control">
    <option data-display="Sort By (Default)">Sort By (Default)</option>
    <option value="1"> Top Rate</option>
    <option value="2">Mid Rate</option>
    <option value="3">Low Rated</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-6">
    <div class="form-group select-group">
    <select class="form-select form-control">
    <option data-display="06 Per Pages">06 Per Pages</option>
    <option value="1"> 03 Per Pages</option>
    <option value="2">06 Per Pages</option>
    <option value="3">09 Per Pages</option>
    </select>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row pt-45 justify-content-center" *ngFor="let candidat of listcandidat">
    <div class="col-lg-6 col-sm-6">
    <div class="freelancers-card">
    <a class="p" [routerLink]="['/home/detailcandidat',candidat._id]">
    <img src="http://localhost:3000/getfile/{{candidat.image}}" alt="Images">
    </a>
    <div class="title">
    <h3>
    <a class="c" [routerLink]="['/home/detailcandidat',candidat._id]">{{candidat.nom}}</a>
    </h3>
    </div>
    <p>IT Developer</p>
    <div class="rating">
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill"></i>
    <i class="ri-star-fill rating-color"></i>

    </div>
    </div>

    </div>
    </div>
    </div>
    </div>
