<div class="inner-banner">
  <div class="container">
  <div class="inner-title text-center">
  <h3>Postuler</h3>
  <ul>
  <li>
  <a href="/home">Home</a>
  </li>
  <li>Postuler</li>
  </ul>
  </div>
  </div>
  </div>

<div class="user-area pt-100 pb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="user-all-form">
    <div class="contact-form">
    <h3> Ajouter candidature </h3>
    <div class="bar"></div>
    <form  >
    <div class="row">
    <div class="col-lg-12">
    </div>
    <div class="col-lg-12 ">
    <div class="form-group">
    <label>Nom</label>
    <input type="text" value="{{userconnect?.nom}}"  class="form-control" required="" data-error="Please enter firstname" >
    </div>
    </div>
    <div class="col-12">
    <div class="form-group">
    <label>Prenom</label>
    <input class="form-control" type="text" value="{{userconnect?.prenom}}"  name="adresse" >
    </div>
    </div>
    <div class="col-lg-12 ">
      <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control"  type="text" value="{{ userconnect?.email }}" required="" data-error="Please enter Email">
      </div>
      </div>
      <div class="col-12">
      </div>
      <div class="col-lg-12">
        <div class="form-group">
        <label>Telephone</label>
        <input type="text" class="form-control"  data-error="Please Enter Your phone" value="{{ userconnect?.telephone }}" >
        </div>
        </div>
        <div  class="col-12">
          <input class="form-control form-control-user" type="file"  (change)="handleFileInput($event)" name="image"   placeholder="file">
      </div>
        
      <div class="col-lg-3 col-md-3 text-center">
     <td>  <button type="submit" class="default-btn disabled" style="pointer-events: all; cursor: pointer;" (click)="Addcandidature()"> 
       Envoyer
        </button></td> 
   <td>     <button type="submit" class="default-btn disabled" style="pointer-events: all; cursor: pointer;" (click)="onReset()"> 
         Annuler
           </button></td>
        </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
  
  
  
  
  
  
  
  
  
