<div class="inner-banner">
    <div class="container">
    <div class="inner-title text-center">
    <h3>Details Entreprise</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Details Entreprise</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="employers-details-area pt-100 pb-70">
        <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <div class="job-post-card box-shadow">
        <div class="job-post-img">
            <img src="http://localhost:3000/getfile/{{listentreprise.image}}" alt="Images">
        </div>
        <h3>{{listentreprise?.nom}}</h3>
        <div class="content">
        <div class="content-item">
        <ul class="content-list">
        <li><i class="ri-briefcase-line"></i> {{listentreprise.specialites?.nom}}</li>
        <li><i class="ri-map-pin-line"></i>{{listentreprise?.adresse}}</li>
        <li *ngIf="iscandidat()"><i class="ri-question-answer-line"></i> <a [routerLink]="['/home/message',listentreprise._id]">Direct Message Us</a></li>
        </ul>
        </div>

        </div>
        <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="job-details-widget-side pr-20">
        <div class="job-details-widget">
        <h3 class="title">Présentation de l'entreprise</h3>
        <div class="bar"></div>
        <ul class="job-details-category">
        <li>Specialite: <span>{{listentreprise.specialites?.nom}}</span></li>
        <li>Adresse: <span>{{listentreprise?.adresse}}</span></li>
        <li>Telephone: <span>{{listentreprise?.telephone}}</span></li>
        <li>Email: <span>{{listentreprise?.email}}</span></li>
        </ul>

        </div>
        <div class="job-details-widget">
        <h3 class="title">Emplacement</h3>
        <div class="bar"></div>
        <div class="job-details-map">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=12%20Rue%20Abdelkader%20Daghrir%20Hamem%20Sousse%20Sousse%204011&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near" title="12 Rue Abdelkader Daghrir Hamem Sousse Sousse 4011" aria-label="12 Rue Abdelkader Daghrir Hamem Sousse Sousse 4011"></iframe>
        </div>
        </div>
        </div>
        </div>
        <div class="col-lg-8">
        <div class="employers-details-content">
        <div class="content mb-30">
        <h3>À propos de la société</h3>
        <div class="bar"></div>
        {{listentreprise.description}}
       </div>

    
        </div>
        </div>
        </div>
        </div>

