<div class="inner-banner">
    <div class="container">
    <div class="inner-title text-center">
    <h3>Messages</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Messages</li>
    </ul>
    </div>
    </div>
    </div>
  
<div class="all-applicants-box">
    <h2>Liste Messages</h2>
    <div class="row">
  
    <div class="col-lg-6 col-md-12" *ngFor="let Msg of listMsg">
        <div class="single-applicants-card">
        <div class="image">
        <a href="candidates-details.html"><img src="http://localhost:3000/getfile/{{Msg.candidat.image}}" alt="image"></a>
        </div>
        <div class="content">
        <h3>
        {{Msg.candidat.nom}}  {{Msg.candidat.prenom}}
        </h3>
        <span>Titre: {{Msg.titre}}</span>
        
        <div class="applicants-footer">
        <ul class="option-list">
        <li><button  [routerLink]="['/home/detailmessage',Msg._id]"  class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="" type="button" data-bs-original-title="View Aplication" aria-label="Voir "><i class="ri-eye-line"></i></button></li>
        <li><button (click)="deleteMsg(Msg._id)" class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="" type="button" data-bs-original-title="Delete Aplication" aria-label="Supprimer "><i class="ri-delete-bin-line"></i></button></li>
        </ul>
        </div>
        </div>
        </div>
        </div>

    </div>
   
    </div>

