<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Login</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li> Login</li>
    </ul>
    </div>
    </div>
    </div>

<div class="user-area pt-100 pb-70">
    <div class="container">
    <div class="row">
    <div class="col-lg-12">
    <div class="user-all-form">
    <div class="contact-form">
    <h3> Log In Now</h3>
    <div class="bar"></div>
    <form id="contactForm" novalidate="true" [formGroup]="LogForm">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="form-group">
            <label>Email</label>
            <input type="text" name="name" id="name" class="form-control" required="" data-error="Svp entrer votre adresse email" formControlName="email">
            </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" required="" data-error="Svp entrer votre mot de passe" formControlName="password">
                </div>
                </div>
    <div class="col-lg-12 form-condition">
    <div class="agree-label">
    <input type="checkbox" id="chb1">
    <label for="chb1">
    Remember Me <a class="forget" href="/forgetPassword">Forgot My Password?</a>
    </label>

    </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center">
    <button type="submit" class="default-btn disabled" style="pointer-events: all; cursor: pointer;" (click)="login()"> 
    Log In Now
    </button>
    </div>
  <label for="chb1">
     <a class="candidat" href="/registre">Registre Candidat?</a>
    </label>
    <label for="chb1">
    <a class="entreprise" href="/regEntreprise">Registre Entreprise?</a>
    </label>
    </div>
    </form>
    </div>
    </div>
    </div>
  
    </div>
    </div>
    </div>