<div class="inner-banner">
    <div class="container">
    <div class="inner-title text-center">
    <h3>Ajout offre emploi</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Ajout offre emploi</li>
    </ul>
    </div>
    </div>
    </div>

<div class="post-job-form">
    <h2>Informations d'offre</h2>
    <div class="bar"></div>
    <div class="contact-form">
  
    <form id="contactForm" novalidate="true" [formGroup]="postjobForm">
    <div class="row">
    <div class="col-lg-12">
    <div class="form-group">
    <label>Titre offre</label>
    <input type="text" class="form-control" required="" data-error="Please Enter Job title" formControlName="titre">
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="form-group select-group">
    <label>Specialite*</label>
    <select class="form-select form-control" formControlName="specialite">
    <option  *ngFor="let sp of listspecialite" [value]="sp._id" >{{sp.nom}}</option>
    
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="form-group select-group">
    <label>Type offre*</label>
    <select class="form-select form-control" formControlName="type">
    <option value="Temps plein" data-display="Temps plein">Temps plein</option>
    <option value="Temps partiel">Temps partiel</option>
    <option value="Freelancer">Freelancer</option>
    </select>
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="form-group">
    <label>Date offre</label>
    <input type="date" name="msg_subject" id="msg_subject" class="form-control" required="" data-error="Please Enter Date" formControlName="date">
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="form-group select-group">
        <label>Place*</label>
        <select class="form-select form-control" formControlName="place">
        <option  *ngFor="let p of listplaces" [value]="p._id" >{{p.adresse}}</option>
        
        </select>
        </div>
        </div>
    <div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>Description offre*</label>
    <textarea class="form-control" cols="30" rows="5" required="" data-error="Write your Job Description" formControlName="description"></textarea>
    </div>
    </div>
    </div>
    </form>
    </div>
    <div class="contact-form">
    <h3> Information entreprise</h3>
    <form id="contactForm">
    <div class="row">
    <div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>Nom entreprise</label>
    <input class="form-control" type="text" name="Company" placeholder="{{userconnect?.nom}}" formControlName="entreprise">
    </div>
    </div>
    <div class="col-lg-6 col-md-6">
    <div class="form-group">
    <label>Site web</label>
    <input class="form-control" type="text" name="Website" placeholder="{{userconnect?.siteweb}}">
    </div>
    </div>

    </div>
    <div class="col-lg-12 col-md-12">
        <button type="submit" class="default-btn border-radius-5" (click)="addoffree()">
        Ajouter <i class="ri-chat-4-line"></i>
        </button>
        </div>
    </form>
    </div>
   
    </div>
