<div class="inner-banner">
    <div class="container">
    <div class="inner-title text-center">
    <h3>Candidatures</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Candidatures</li>
    </ul>
    </div>
    </div>
    </div>
  
<div class="all-applicants-box">
    <h2>Liste candidatures</h2>
    <div class="row">
    <div class="col-lg-6 col-md-12" *ngFor="let cand of listcandidat">
    <div class="single-applicants-card">
    <div class="image">
    <a ><img src="http://localhost:3000/getfile/{{cand.candidat.image}}" alt="image"></a>
    </div>
    <div class="content">
    <h3>
    {{cand.candidat.nom}}  {{cand.candidat.prenom}}
    </h3>
    <span>{{cand.candidat.telephone}}</span>
    <ul class="job-info">
    <li><i class="ri-time-line"></i>{{cand.candidat.email}}</li>
    </ul>
    <div class="applicants-footer">
    <ul class="option-list">
    <li><button   [routerLink]="['/home/cv', cand._id]" class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="" type="button" data-bs-original-title="Afficher CV" aria-label="Voir CV"><i class="ri-eye-line"></i></button></li>
    <li><button (click)=" deletecandidature(cand._id)" class="option-btn d-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="" type="button" data-bs-original-title="Supprimer" aria-label="Supprimer "><i class="ri-delete-bin-line"></i></button></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
   
    </div>
    </div>
