<div class="job-listing-area pt-100 pb-70">
    <div class="container">
    <div class="job-listing-top">
    <div class="row align-items-center">
    <div class="col-lg-12">
    <div class="job-listing-form">
    <form>
    <div class="row align-items-center">
    <div class="col-lg-3 col-md-4">
    <div class="form-group">
    <input class="form-control" type="text"  
    [(ngModel)]="search_nom" name="search_nom" placeholder="Titre offre ">
    <i class="ri-search-line"></i>
    </div>
    </div>
    <div class="col-lg-3 col-md-4">
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Lieux" (change)="Onchangeplaces($event)">
    <i class="ri-map-pin-line"></i>
    </div>
    </div>
    <div class="col-lg-3 col-md-4">
    <div class="form-group select-group" >
    <select class="form-select form-control"   (change)="Onchangespecialite($event)">
    <option value="1" *ngFor="let s of specialite"  [value]="s.nom" >{{s.nom}}</option>
    </select>
    </div>
    </div>
    <div class="col-lg-3 col-md-12">
    <button type="submit" class="submit-btn border-radius-5">
    Find Jobs
    </button>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-4">
    <div class="job-listing-side-bar">
   
    <div class="job-listing-widget">
    <ul class="accordion-widget">
    <li class="accordion-widget-item">
    <a class="accordion-widget-title" href="javascript:void(0)">
    <i class="ri-arrow-down-s-line"></i>
   Type Offre
    </a>
    <ul class="accordion-widget-content show" >
    <li >
    <input id="check-f" type="checkbox" name="check" value="Temps plein" (change)="Onchangetype($event)">
    <label for="check-f">Temps plein</label>
    </li>
    <li>
    <input id="check-a" type="checkbox" name="check" value="Temps partiel"  (change)="Onchangetype($event)">
    <label for="check-a">Temps partiel </label>
    </li>
    <li>
    <input id="check-c" type="checkbox" name="check" value="Freelancer"  (change)="Onchangetype($event)">
    <label for="check-c">Freelancer  </label>
    </li>
    </ul>
    </li>
    </ul>
    </div>

    </div>
    </div>
    <div class="col-lg-8">
    <div class="job-listing-topper">
    <div class="row align-items-center">
    <div class="col-lg-6">
    <div class="job-listing-title">
    <h3>Voir résultas</h3>
    </div>
    </div>
   
    </div>
    </div>

    <div class="col-lg-12"  *ngFor="
    let offre of listoffre | recherche: search_nom  | paginate: { itemsPerPage:2, currentPage: p }">
      <div class="recent-job-card box-shadow">
      <div class="content">
      <div class="recent-job-img">
        <a href="job-details.html">
          <img
          src="http://localhost:3000/getfile/{{
            offre?.entreprise?.image
          }}"
          alt=""
        />
        </a>
      </div>
      <h3><a class="p" [routerLink]="['/home/detailoffre',offre._id]">{{offre?.titre }}</a></h3>
      <ul class="job-list1">
      <li><i class="ri-briefcase-line"></i> {{offre?.entreprise?.nom}}</li>
      <li><i class="ri-time-line"></i> {{offre?.date}}</li>
      </ul>
      <span><i class="ri-map-pin-line"></i> {{offre?.place?.adresse}}</span>
      </div>
      <div class="job-sub-content">
      <ul class="job-list2">
      <li class="time">Full Time</li>
      <li class="freelance">Freelance</li>
      <li class="urgent">Urgent</li>
      </ul>
      <button class="btn btn-success" [routerLink]="['/home/detailcandidature',offre._id]" >Candidatures</button>
      <button class="btn btn-danger" (click)="deleteoffre(offre._id)">Supprimer</button>
    
      </div>
   
      
      </div>
      </div>
    <div class="row pt-45" >
  
    <div class="col-lg-12 col-md-12 text-center">
    <div class="pagination-area">
      <div class="row">
        <pagination-controls
          (pageChange)="p = $event"
        ></pagination-controls>
      </div>
    
   
   
  
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div> 

