<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Contacter nous</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Contacter nous</li>
    </ul>
    </div>
    </div>
    </div>
<div class="contact-form">
    <h3>Envoyer Message</h3>
    <form id="contactForm" novalidate="true" [formGroup]="msgForm">
    <div class="row">
    <div class="col-lg-6">
    <div class="form-group">
    <label>Votre nom </label>
    <input type="text" name="name" id="name" class="form-control"   placeholder="{{userconnect.nom}} ">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <label> Email</label>
    <input type="email" name="email" id="email" class="form-control"  placeholder="{{userconnect.email}}">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <label>Telephone</label>
    <input type="text" name="phone_number" id="phone_number"   class="form-control"  placeholder="{{userconnect.telephone}}">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <label>Votre objet</label>
    <input type="text" name="msg_subject" id="msg_subject" class="form-control" required="" data-error="Please Enter Your Subject" formControlName="titre">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>Votre Message</label>
    <textarea name="message" class="form-control" id="message" cols="30" rows="5" required="" data-error="Write your message" formControlName="description"></textarea>
    <div class="help-block with-errors"></div>
    </div>
    </div>
 
    <div class="col-lg-12 col-md-12">
    <button type="submit" class="default-btn border-radius-5 disabled" (click)="addMsg()" style="pointer-events: all; cursor: pointer;">
   Envoyer Message <i class="ri-chat-4-line"></i>
    </button>

    </div>
    </div>
    </form>
    </div>
