<div class="banner-area">
    <div class="container-fluid">
    <div class="row align-items-center">
    <div class="col-lg-7">
    <div class="banner-content">
    <h1 class="animate__animated animate__fadeInLeft" data-animate-delay="000ms" data-animate-duration="1000ms">JobGate le portail d'emploi <b> n°1 </b> en Tunisie </h1>
    <p class="animate__animated animate__fadeInLeft" data-animate-delay="100ms" data-animate-duration="1000ms"></p>
    <div class="banner-form animate__animated animate__fadeInLeft" data-animate-delay="200ms" data-animate-duration="1000ms">
    <form >
    <div class="row">
    <div class="col-lg-3 col-sm-4">
    <div class="form-group">
        <input class="form-control" type="text"  
        [(ngModel)]="search_nom" name="search_nom" placeholder="Titre offre ">
    <i class="ri-search-line"></i>
    </div>
    </div>
    <div class="col-lg-3 col-sm-4">
    <div class="form-group">
    <input class="form-control" type="text" placeholder="Lieux"  (change)="Onchangeplaces($event)">
    <i class="ri-map-pin-line"></i>
    </div>
    </div>
    
        <div class="col-lg-3 col-md-4">
            <div class="form-group select-group" >
            <select class="form-select form-control"   (change)="Onchangespecialite($event)">
                <option data-display="Choisir spécialité">Choisir spécialité</option>
            <option value="1" *ngFor="let s of specialite"  [value]="s.nom" >{{s.nom}}</option>
            </select>
            </div>
            </div>
   
    <div class="col-lg-3 col-sm-12">
    <button type="submit" class="submit-btn border-radius-5">
    Find Jobs
    </button>
    </div>
    </div>
    </form>
    </div>
 
    <ul class="animate__animated animate__fadeInLeft" data-animate-delay="400ms" data-animate-duration="1000ms">
     <li class="title"> 1000+ Candidates </li>
    <li><img src="assets/images/user-img/user-img1.jpg" alt="Images"></li>
    <li><img src="assets/images/user-img/user-img2.jpg" alt="Images"></li>
    <li><img src="assets/images/user-img/user-img3.jpg" alt="Images"></li>
    <li><img src="assets/images/user-img/user-img4.jpg" alt="Images"></li>
    <li><img src="assets/images/user-img/user-img5.jpg" alt="Images"></li>
    </ul>
    </div>
    </div>
    <div class="col-lg-5">
    <div class="banner-img">
    <img src="assets/images/home-one/home-one-img.png" alt="Banner Images" class="animate fadeInUp" data-animate-delay="000ms" data-animate-duration="1000ms">
    <div class="banner-img-shape">
    <div class="shape1 animate__animated animate__fadeInUp" data-animate-delay="100ms" data-animate-duration="1000ms" data-speed="0.08" data-revert="true">
    <a href="contact.html" target="_blank">
    <img src="assets/images/home-one/home-one-icon3.png" alt="Image">
    </a>
    </div>
    <div class="shape2 animate__animated animate__fadeInUp" data-animate-delay="200ms" data-animate-duration="1000ms" data-speed="0.08" data-revert="true">
    <img src="assets/images/home-one/user1.jpg" alt="Image">
    </div>
    <div class="shape3 animate fadeInUp" data-animate-delay="300ms" data-animate-duration="1000ms" data-speed="0.08" data-revert="true">
    <img src="assets/images/home-one/user2.jpg" alt="Image">
    </div>
    <div class="shape4 animate__animated animate__fadeInUp" data-animate-delay="400ms" data-animate-duration="1000ms" data-speed="0.08" data-revert="true">
    <a href="https://www.google.com/" target="_blank">
    <img src="assets/images/home-one/home-one-icon1.png" alt="Image">
    </a>
    </div>
    <div class="shape5 animate__animated animate__fadeInUp" data-animate-delay="500ms" data-animate-duration="1000ms" data-speed="0.08" data-revert="true">
    <img src="assets/images/home-one/user2.jpg" alt="Image">
    </div>
    <div class="shape6 animate fadeInUp" data-animate-delay="500ms" data-animate-duration="1000ms" data-speed="0.08" data-revert="true">
    <a href="contact.html" target="_blank">
    <img src="assets/images/home-one/home-one-icon2.png" alt="Image">
    </a>
    </div>
    <div class="shape7 animate__animated animate__fadeInUp" data-animate-delay="500ms" data-animate-duration="1000ms" data-speed="0.08" data-revert="true">
    <a href="https://themeforest.net/" target="_blank">
    <img src="assets/images/home-one/home-one-icon4.png" alt="Image">
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="banner-shape">
    <div class="shape-in-one">
    <img src="assets/images/home-one/shape1.png" alt="Images">
    </div>
     <div class="shape-in-two">
    <img src="assets/images/home-one/shape2.png" alt="Images">
    </div>
    </div>
    </div>
 
    <div class="find-jobs-area pt-100 pb-70">
    <div class="container">
    <div class="section-title text-center">
    <h2>Trouver votre emploi</h2>
    <div class="bar m-auto"></div>
    </div>
    <div class="row pt-45">
    <div class="col-lg-12" *ngFor="let offre of listoffre | recherche: search_nom ">
    <div class="find-jobs-card d-flex align-items-center">
    <div class="find-jobs-img">
    <a href="job-details.html">
        <img src="http://localhost:3000/getfile/{{offre?.entreprise?.image }}"alt="" />
    </a>
    </div>
    <div class="content">
    <ul class="content-list">
    <li class="Temps plein">Full Time</li>
    <li class="freelancer">Freelancer</li>
    <li class="Temps partiel">Temps partiel</li>
    </ul>
    <h3><a href="job-details.html">{{offre.titre}}</a></h3>
    <ul class="content-list2">
    <li class="list-one">{{offre.entreprise.nom}}</li>
    <li class="list-two"><i class="ri-time-line"></i> {{offre.date}}</li>
    </ul>
    <ul class="content-list3">
    <li><i class="ri-briefcase-line"></i> Domaine : <b>{{offre.specialite.nom}}</b></li>
    <li><i class="ri-map-pin-line"></i> Location : <b>{{offre.place.adresse}}</b></li>
    
    </ul>
    </div>
    <div class="find-jobs-btn" *ngIf="iscandidat()">
    <a [routerLink]="['/home/candidature',offre._id]" class="default-btn border-radius-5">Postuler maintenant<i class="ri-send-plane-2-line"></i></a>
    </div>
    <button class="bookmark-btn"><i class="ri-bookmark-line"></i></button>
    </div>
    </div>
 
   
    </div>
    </div>
    </div>
