<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Message</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Message</li>
    </ul>
    </div>
    </div>
    </div>
<div class="contact-form">
    <h3>Message</h3>
    <form id="contactForm" novalidate="true" >
    <div class="row">
    <div class="col-lg-6">
    <div class="form-group">
    <label>Nom </label>
    <input type="text" name="name" id="name" class="form-control"   placeholder="{{message.candidat.nom}} {{message.candidat.prenom}} ">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <label> Email</label>
    <input type="email" name="email" id="email" class="form-control"  placeholder="{{message.candidat.email}}">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <label>Telephone</label>
    <input type="text" name="phone_number" id="phone_number"   class="form-control"  placeholder="{{message.candidat.telephone}}">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="form-group">
    <label>Objet</label>
    <input type="text" name="msg_subject" id="msg_subject" class="form-control" required="" data-error="Please Enter Your Subject"  placeholder="{{message.titre}}">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-12 col-md-12">
    <div class="form-group">
    <label>Message</label>
    <textarea name="message" class="form-control" id="message" cols="30" rows="5" required="" data-error="Write your message"  placeholder="{{message.description}}"></textarea>
    <div class="help-block with-errors"></div>
    </div>
    </div>
 <button class="btn btn-success" [routerLink]="['/home/listmsg',userconnect._id]">OK</button>
    </div>
    </form>
    </div>