<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Registre Candidat</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li> Registre Candidat</li>
    </ul>
    </div>
    </div>
    </div>
    <div class="contact-form">
        <h3>Créer un compte  </h3>
        <div class="bar"></div>
        <form id="contactForm" [formGroup]="regForm" >
    <div class="row">
        <div class="col-lg-12 ">
            <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" placeholder="Nom" required="" data-error="Please enter firstName"  formControlName="nom">
            </div>
            </div>
            <div class="col-lg-12 ">
                <div class="form-group">
                <label>Prenom</label>
                <input type="text" class="form-control" placeholder="Prenom" required="" data-error="Please enter lastName"  formControlName="prenom">
                </div>
                </div>

                <div class="col-lg-12 ">
                    <div class="form-group">
                    <label>Telephone</label>
                    <input type="text" class="form-control" placeholder="Telephone" required="" data-error="Please enter lastName"  formControlName="telephone">
                    </div>
                    </div>
        <div class="col-lg-12">
        <div class="form-group">
        <label>Role</label>
        <input type="text" class="form-control" placeholder="Role" formControlName="role">
        </div>

        </div>

        <div class="col-lg-12 ">
        <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="Adresse email" required="" data-error="Please enter Email"  formControlName="email">
        </div>
        </div>

        <div class="col-12">
        <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Mot de passe" required="" data-error="Please enter Password"  name="password" formControlName="password">
        </div>
        </div>
  
        <div class="col-sm-12">
            <input type="file" (change)="handleFileInput($event)" name="file" class="form-control-user" placeholder="image">

        </div>
        <div class="col-lg-12 col-md-12 text-center">
        <button routerLink="/" type="submit" class="default-btn" (click)=" onSubmit()">
        Register Now
        </button>
        </div>
        </div>
        </form>
        <hr>
        <div class="text-center">
            <button class="small" routerLink="/">Already have an account? Login!</button>
        </div>
        </div>