<body>

    <div class="preloader">
    <div class="d-table">
    <div class="d-table-cell">
    <div class="spinner"></div>
    </div>
    </div>
    </div>
  <app-header></app-header>  
    
  <router-outlet></router-outlet>
    
 <div class="employers-cv-area">
    <div class="container">
    <div class="employers-cv-bg">
    <div class="row align-items-center">
    <div class="col-lg-8">
    <div class="employers-cv-content">
    <h2>Let Employers Find You</h2>
    <div class="bar"></div>
   
    </div>
    </div>
    <div class="col-lg-4">
    <div class="employers-cv-btn">
    <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#e98a86879d888a9da993868b8c87c78a8684">Upload Your CV</a>
    </div>
    </div>
    </div>
    </div>
    </div>
   
    </div>
    <app-footer></app-footer> 

  
    
  
    </body>
