<div class="inner-banner">
    <div class="container">
     <div class="inner-title text-center">
    <h3>Liste Entreprise</h3>
    <ul>
    <li>
    <a href="/home">Home</a>
    </li>
    <li>Liste Entreprise</li>
    </ul>
    </div>
    </div>
    </div>

<div class="company-widget-area pt-100 pb-70">
    <div class="container">
    <div class="section-title text-center">
    <h2>Meilleurs entreprises enregistrés</h2>

    <div class="row pt-45 justify-content-center">
    <div class="col-lg-3 col-6" *ngFor="let entreprise of listentreprise  | paginate: { itemsPerPage:4, currentPage: p }">
    <div class="company-card box-shadow" >
    <img src="http://localhost:3000/getfile/{{entreprise.image}}" alt="Images">
    <h4><a class="p" [routerLink]="['/home/detailentreprise',entreprise._id]">{{entreprise.nom}}</a></h4>
    <p><i class="ri-map-pin-line"></i>{{entreprise.adresse}}</p>
    
</div></div>
    <div class="col-lg-12 col-md-12 text-center">
        <div class="pagination-area">
            <div class="row">
              <pagination-controls
                (pageChange)="p = $event"
              ></pagination-controls>
            </div>
          
         
         
        
          </div>
    </div>
    </div>
    </div>

